In [7]:
import pyspark

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder \
                    .master("local[1]") \
                    .appName("") \
                    .getOrCreate()

23/02/21 09:24:55 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 09:24:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 09:24:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 09:24:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 09:24:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 09:24:58 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [15]:
from pyspark.sql import Row

In [26]:
users_tuple = [(1, 'Scott'), (2, 'Donald'), (3, 'Mickey'), (4, 'Elvis')]

In [27]:
type(users_tuple)

list

In [28]:
type(users_tuple[0])

tuple

In [29]:
users_rows = [Row(*user) for user in users_tuple]

In [30]:
users_rows

In [31]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [32]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [33]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]

In [34]:
users_dict = [
    {"user_id": 1, "user_first_name": 'Scott'}, 
    {"user_id": 2, "user_first_name": 'Donald'},
    {"user_id": 3, "user_first_name": 'Mickey'},
    {"user_id": 4, "user_first_name": 'Elvis'}
]

In [35]:
type(users_dict)

list

In [36]:
type(users_dict[0])

dict

In [40]:
users_dict[0]

{'user_id': 1, 'user_first_name': 'Scott'}

In [41]:
users_rows = [Row(*user.values()) for user in users_dict]

In [46]:
#users_rows = [Row(**user) for user in users_dict]

In [42]:
users_rows

In [43]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [44]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [45]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]

In [17]:
users_list = [[1, 'Scott'], [2, 'Donald'], [3, 'Mickey'], [4, 'Elvis']]

In [18]:
type(users_list)

list

In [19]:
type(users_list[0])

list

In [20]:
users_rows = [Row(*user) for user in users_list]

In [21]:
users_rows

In [22]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [23]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [24]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]