In [1]:
%run "A_pyspark_sparksession.ipynb"

23/02/21 19:57:59 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 19:57:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 19:58:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
23/02/21 19:58:01 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.

In [2]:
from pyspark.sql import Row

In [3]:
users_dict = [
    {"user_id": 1, "user_first_name": 'Scott'}, 
    {"user_id": 2, "user_first_name": 'Donald'},
    {"user_id": 3, "user_first_name": 'Mickey'},
    {"user_id": 4, "user_first_name": 'Elvis'}
]

In [4]:
users_rows = [Row(*user.values()) for user in users_dict]

In [5]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [6]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [7]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]