In [4]:
%run "A_pyspark_sparksession.ipynb"

23/02/21 19:41:33 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 19:41:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 19:41:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 19:41:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 19:41:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 19:41:34 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/21 19:41:34 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [11]:
age_list = [21, 23, 18, 41, 32]
spark.createDataFrame(age_list, 'int')

DataFrame[value: int]

In [12]:
age_list = [21, 23, 18, 41, 32]
from pyspark.sql.types import IntegerType
spark.createDataFrame(age_list, IntegerType())

DataFrame[value: int]

In [13]:
name_list = ['Scott', 'Donald', 'Mickey']
spark.createDataFrame(name_list, 'string')

DataFrame[value: string]

In [14]:
name_list = ['Scott', 'Donald', 'Mickey']
from pyspark.sql.types import StringType
spark.createDataFrame(name_list, StringType())

DataFrame[value: string]