In [1]:
%run "A_pyspark_sparksession.ipynb"

23/02/21 19:52:19 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 19:52:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 19:52:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/02/21 19:52:22 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [6]:
from pyspark.sql import Row

In [7]:
users_list = [[1, 'Scott'], [2, 'Donald'], [3, 'Mickey'], [4, 'Elvis']]

In [8]:
users_rows = [Row(*user) for user in users_list]

In [9]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [10]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [16]:
users_tuple = [(1, 'Scott'), (2, 'Donald'), (3, 'Mickey'), (4, 'Elvis')]

In [17]:
users_rows = [Row(*user) for user in users_tuple]

In [18]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [19]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [21]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]

In [3]:
users_dict = [
    {"user_id": 1, "user_first_name": 'Scott'}, 
    {"user_id": 2, "user_first_name": 'Donald'},
    {"user_id": 3, "user_first_name": 'Mickey'},
    {"user_id": 4, "user_first_name": 'Elvis'}
]

In [11]:
users_rows = [Row(*user.values()) for user in users_dict]

In [12]:
df = spark.createDataFrame(users_rows, 'user_id int, user_first_name string')

In [13]:
df.show()

+-------+---------------+
|user_id|user_first_name|
+-------+---------------+
|      1|          Scott|
|      2|         Donald|
|      3|         Mickey|
|      4|          Elvis|
+-------+---------------+

In [20]:
df.collect()

[Row(user_id=1, user_first_name='Scott'),
 Row(user_id=2, user_first_name='Donald'),
 Row(user_id=3, user_first_name='Mickey'),
 Row(user_id=4, user_first_name='Elvis')]