In [2]:
%run "A_pyspark_sparksession.ipynb"

23/02/21 20:56:55 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 20:56:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 20:56:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 20:56:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 20:56:56 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 20:56:56 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/21 20:56:56 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/21 20:56:56 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [3]:
%run "I_export_data_users.ipynb"

In [4]:
from pyspark.sql import Row

In [5]:
users_type_array

[{'id': 1,
  'first_name': 'Corrie',
  'last_name': 'Van den Oord',
  'email': 'cvandenoord@etsy.com',
  'phone_numbers': ['+1 234 567 8901', '+1 234 567 8911'],
  'is_costumer': True,
  'amount_paid': 1000.55,
  'customer_from': datetime.date(2021, 1, 15),
  'last_updated_ts': datetime.datetime(2021, 2, 10, 1, 15)},
 {'id': 2,
  'first_name': 'Nikolaus',
  'last_name': 'Brewitt',
  'email': 'nbrewittl@dailyail.co.uk',
  'phone_numbers': ['+1 234 567 8923', '+1 234 567 8934'],
  'is_costumer': True,
  'amount_paid': 900.0,
  'customer_from': datetime.date(2021, 2, 14),
  'last_updated_ts': datetime.datetime(2021, 2, 18, 3, 33)},
 {'id': 3,
  'first_name': 'Orelie',
  'last_name': 'Penney',
  'email': 'openney2@vistaprint.com',
  'phone_numbers': ['+1 714 512 9752', '+1 714 512 6601'],
  'is_costumer': True,
  'amount_paid': 850.55,
  'customer_from': datetime.date(2021, 1, 21),
  'last_updated_ts': datetime.datetime(2021, 3, 15, 15, 16, 55)},
 {'id': 4,
  'first_name': 'Ashby',
  'last_name': 'Maddocks',
  'email': 'amaddocks3@home.pl',
  'phone_numbers': None,
  'is_costumer': False,
  'amount_paid': None,
  'customer_from': None,
  'last_updated_ts': datetime.datetime(2021, 4, 10, 17, 45, 30)},
 {'id': 5,
  'first_name': 'Kurt',
  'last_name': 'Rome',
  'email': 'krome4@shutterfly.com',
  'phone_numbers': ['+1 817 934 7142'],
  'is_costumer': False,
  'amount_paid': None,
  'customer_from': None,
  'last_updated_ts': datetime.datetime(2021, 4, 2, 0, 55, 18)}]

In [7]:
users_df = spark.createDataFrame([Row(**user) for user in users_type_array])

In [8]:
users_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- is_costumer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [9]:
users_df.show()

+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|is_costumer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|[+1 234 567 8901,...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|[+1 234 567 8923,...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|[+1 714 512 9752,...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|                null|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|   [+1 817 934 7142]|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [10]:
users_df.select('id', 'phone_numbers').show(truncate=False)

+---+----------------------------------+
|id |phone_numbers                     |
+---+----------------------------------+
|1  |[+1 234 567 8901, +1 234 567 8911]|
|2  |[+1 234 567 8923, +1 234 567 8934]|
|3  |[+1 714 512 9752, +1 714 512 6601]|
|4  |null                              |
|5  |[+1 817 934 7142]                 |
+---+----------------------------------+

In [11]:
users_df.columns

['id',
 'first_name',
 'last_name',
 'email',
 'phone_numbers',
 'is_costumer',
 'amount_paid',
 'customer_from',
 'last_updated_ts']

In [12]:
users_df.dtypes

[('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'array<string>'),
 ('is_costumer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

In [13]:
from pyspark.sql.functions import explode

In [14]:
users_df. \
    withColumn('phone_number', explode('phone_numbers')). \
    drop('phone_number'). \
    show()

+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|is_costumer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|[+1 234 567 8901,...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|[+1 234 567 8901,...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|[+1 234 567 8923,...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|[+1 234 567 8923,...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|[+1 714 512 9752,...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  3|    Orelie|      Penney|openney2@vistapri...|[+1 714 512 9752,...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  5|      Kurt|        Rome|krome4@shutterfly...|   [+1 817 934 7142]|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [15]:
from pyspark.sql.functions import col

In [16]:
users_df. \
    select('id', col('phone_numbers')[0].alias('mobile'), col('phone_numbers')[1].alias('home')). \
    show()

+---+---------------+---------------+
| id|         mobile|           home|
+---+---------------+---------------+
|  1|+1 234 567 8901|+1 234 567 8911|
|  2|+1 234 567 8923|+1 234 567 8934|
|  3|+1 714 512 9752|+1 714 512 6601|
|  4|           null|           null|
|  5|+1 817 934 7142|           null|
+---+---------------+---------------+

In [17]:
from pyspark.sql.functions import explode_outer

In [18]:
users_df. \
    withColumn('phone_number', explode_outer('phone_numbers')). \
    drop('phone_number'). \
    show()

+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|is_costumer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|[+1 234 567 8901,...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|[+1 234 567 8901,...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|[+1 234 567 8923,...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|[+1 234 567 8923,...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|[+1 714 512 9752,...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  3|    Orelie|      Penney|openney2@vistapri...|[+1 714 512 9752,...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|                null|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|   [+1 817 934 7142]|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+