In [2]:
%run "A_pyspark_sparksession.ipynb"

23/02/21 21:07:55 WARN Utils: Your hostname, JosePC resolves to a loopback address: 127.0.1.1; using 192.168.15.30 instead (on interface wlo1)
23/02/21 21:07:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/21 21:07:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/02/21 21:07:57 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

In [3]:
%run "I_export_data_users.ipynb"

In [4]:
from pyspark.sql import Row

In [5]:
users_type_dict

[{'id': 1,
  'first_name': 'Corrie',
  'last_name': 'Van den Oord',
  'email': 'cvandenoord@etsy.com',
  'phone_numbers': {'mobile': '+1 234 567 8901', 'home': '+1 234 567 8911'},
  'is_costumer': True,
  'amount_paid': 1000.55,
  'customer_from': datetime.date(2021, 1, 15),
  'last_updated_ts': datetime.datetime(2021, 2, 10, 1, 15)},
 {'id': 2,
  'first_name': 'Nikolaus',
  'last_name': 'Brewitt',
  'email': 'nbrewittl@dailyail.co.uk',
  'phone_numbers': {'mobile': '+1 234 567 8923', 'home': '+1 234 567 8934'},
  'is_costumer': True,
  'amount_paid': 900.0,
  'customer_from': datetime.date(2021, 2, 14),
  'last_updated_ts': datetime.datetime(2021, 2, 18, 3, 33)},
 {'id': 3,
  'first_name': 'Orelie',
  'last_name': 'Penney',
  'email': 'openney2@vistaprint.com',
  'phone_numbers': {'mobile': '+1 714 512 9752', 'home': '+1 714 512 6601'},
  'is_costumer': True,
  'amount_paid': 850.55,
  'customer_from': datetime.date(2021, 1, 21),
  'last_updated_ts': datetime.datetime(2021, 3, 15, 15, 16, 55)},
 {'id': 4,
  'first_name': 'Ashby',
  'last_name': 'Maddocks',
  'email': 'amaddocks3@home.pl',
  'phone_numbers': None,
  'is_costumer': False,
  'amount_paid': None,
  'customer_from': None,
  'last_updated_ts': datetime.datetime(2021, 4, 10, 17, 45, 30)},
 {'id': 5,
  'first_name': 'Kurt',
  'last_name': 'Rome',
  'email': 'krome4@shutterfly.com',
  'phone_numbers': {'mobile': '+1 817 934 7142'},
  'is_costumer': False,
  'amount_paid': None,
  'customer_from': None,
  'last_updated_ts': datetime.datetime(2021, 4, 2, 0, 55, 18)}]

In [6]:
users_df = spark.createDataFrame([Row(**user) for user in users_type_dict])

In [7]:
users_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- is_costumer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [8]:
users_df.show()

+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|is_costumer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|{mobile -> +1 234...|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|{mobile -> +1 234...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{mobile -> +1 714...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|                null|      false|       null|         null|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{mobile -> +1 817...|      false|       null|         null|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-----------+-----------+-------------+-------------------+

In [9]:
users_df.select('id', 'phone_numbers').show(truncate=False)

+---+----------------------------------------------------+
|id |phone_numbers                                       |
+---+----------------------------------------------------+
|1  |{mobile -> +1 234 567 8901, home -> +1 234 567 8911}|
|2  |{mobile -> +1 234 567 8923, home -> +1 234 567 8934}|
|3  |{mobile -> +1 714 512 9752, home -> +1 714 512 6601}|
|4  |null                                                |
|5  |{mobile -> +1 817 934 7142}                         |
+---+----------------------------------------------------+

In [10]:
users_df.columns

['id',
 'first_name',
 'last_name',
 'email',
 'phone_numbers',
 'is_costumer',
 'amount_paid',
 'customer_from',
 'last_updated_ts']

In [11]:
users_df.dtypes

[('id', 'bigint'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('email', 'string'),
 ('phone_numbers', 'map<string,string>'),
 ('is_costumer', 'boolean'),
 ('amount_paid', 'double'),
 ('customer_from', 'date'),
 ('last_updated_ts', 'timestamp')]

In [12]:
users_df.select(col('phone_numbers')['mobile']).show()

+---------------------+
|phone_numbers[mobile]|
+---------------------+
|      +1 234 567 8901|
|      +1 234 567 8923|
|      +1 714 512 9752|
|                 null|
|      +1 817 934 7142|
+---------------------+

In [15]:
users_df.select('id', col('phone_numbers')['mobile'].alias('mobile')).show()

+---+---------------+
| id|         mobile|
+---+---------------+
|  1|+1 234 567 8901|
|  2|+1 234 567 8923|
|  3|+1 714 512 9752|
|  4|           null|
|  5|+1 817 934 7142|
+---+---------------+

In [16]:
users_df. \
    select('id', col('phone_numbers')['mobile'].alias('mobile'), col('phone_numbers')['home'].alias('home')). \
    show()

+---+---------------+---------------+
| id|         mobile|           home|
+---+---------------+---------------+
|  1|+1 234 567 8901|+1 234 567 8911|
|  2|+1 234 567 8923|+1 234 567 8934|
|  3|+1 714 512 9752|+1 714 512 6601|
|  4|           null|           null|
|  5|+1 817 934 7142|           null|
+---+---------------+---------------+

In [13]:
from pyspark.sql.functions import explode

In [17]:
users_df.select('id', explode('phone_numbers')).show()

+---+------+---------------+
| id|   key|          value|
+---+------+---------------+
|  1|mobile|+1 234 567 8901|
|  1|  home|+1 234 567 8911|
|  2|mobile|+1 234 567 8923|
|  2|  home|+1 234 567 8934|
|  3|mobile|+1 714 512 9752|
|  3|  home|+1 714 512 6601|
|  5|mobile|+1 817 934 7142|
+---+------+---------------+

In [14]:
users_df.select('*', explode('phone_numbers')) .\
    withColumnRenamed('key', 'phone_type'). \
    withColumnRenamed('value', 'phone_number'). \
    drop('phone_numbers'). \
    show()

+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+----------+---------------+
| id|first_name|   last_name|               email|is_costumer|amount_paid|customer_from|    last_updated_ts|phone_type|   phone_number|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+----------+---------------+
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|    mobile|+1 234 567 8901|
|  1|    Corrie|Van den Oord|cvandenoord@etsy.com|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|      home|+1 234 567 8911|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|    mobile|+1 234 567 8923|
|  2|  Nikolaus|     Brewitt|nbrewittl@dailyai...|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|      home|+1 234 567 8934|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|    mobile|+1 714 512 9752|
|  3|    Orelie|      Penney|openney2@vistapri...|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|      home|+1 714 512 6601|
|  5|      Kurt|        Rome|krome4@shutterfly...|      false|       null|         null|2021-04-02 00:55:18|    mobile|+1 817 934 7142|
+---+----------+------------+--------------------+-----------+-----------+-------------+-------------------+----------+---------------+

In [18]:
from pyspark.sql.functions import explode_outer

In [19]:
users_df.select('id', explode_outer('phone_numbers')).show()

+---+------+---------------+
| id|   key|          value|
+---+------+---------------+
|  1|mobile|+1 234 567 8901|
|  1|  home|+1 234 567 8911|
|  2|mobile|+1 234 567 8923|
|  2|  home|+1 234 567 8934|
|  3|mobile|+1 714 512 9752|
|  3|  home|+1 714 512 6601|
|  4|  null|           null|
|  5|mobile|+1 817 934 7142|
+---+------+---------------+